/* Ajuste de las imágenes decorativas */
.chica-img {
    position: absolute;
    max-width: 35vw; /* relativo a la ventana para que escale con zoom */
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 0.9;
    pointer-events: auto; /* permitir hover */
}

/* Imagen a la izquierda */
.chica-left {
    left: -20vw; /* Más cerca del borde izquierdo */
    top: 40%;
    transform: translateY(-50%);
}

/* Imagen a la derecha */
.chica-right {
    right: -20vw; /* Más cerca del borde derecho */
    top: 20%;
    transform: translateY(-50%);
}

/* Ajuste del contenedor principal */
.main-menu {
    position: relative;
    padding: 1rem;
    max-width: 1200px; /* Limita el ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido en la pantalla */
    width: calc(100% - 2rem);
}
.juego-btn{
    text-decoration: none;
    color: white;
}

