

.form-container {
    background-color: white;
    padding: 1rem; /* espaciado interno razonable */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    width: 100%;
    text-align: left; /* Alinea el texto a la izquierda */
    box-sizing: border-box;
}
.register-form label {
    font-size: 1.2rem; /* Aumenta el tama침o de las etiquetas */
    margin-bottom: 8px;
    display: block;
}
.register-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; /* Aumenta el tama침o del texto en los campos */
}
.register-form button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem; /* Aumenta el tama침o del texto del bot칩n */
    cursor: pointer;
}
.register-form button:hover {
    background-color: #555;
}


.register-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}
.juego-btn{
    text-decoration: none;
    color: white;
}
